.idea
.pytest_cache
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
logs/

# PyTorch models
*.pytorch

# Python packages
pytorch3dunet.egg-info/
dist/

# any files that end in log
*.log

# any hdf5 files
*.h5
*.hdf5

# ignore raw images
*.tif
*.tiff

# ignore cloned package
/surface-distance/

# ignore the whole custom config folder
/kidney_vasculature/
